{% extends "layout.html" %}

{% block title %}
    Anger
{% endblock %}


{% block main %}
 <h1>Here's what I can help with for: <h1 style="color: red;">Anger</h1></h1>
 <div>
    <a href = "https://www.youtube.com/watch?v=4obOTmlsTI8">5 minute video to help bring ease, with a soothing voiceover</a>
 </div>
 <div>
    <a href = "https://www.youtube.com/watch?v=BsVq5R_F6RA&list=PLqldimk4xUgk6b1fJkTtS9TJ1uP4_vsNt&index=10">4 minute video on ways to process and overcome your anger</a>
 </div>
 <div>
    <a href = "https://www.youtube.com/watch?v=kmTEyxWg7Hs&t=44s"> 7-minute video on methods for controlling your anger</a>
 </div>

{% endblock %}