{% extends "layout.html" %}

{% block title %}
    Anxious
{% endblock %}


{% block main %}
 <h1>Here's what I can help with for: <h1 style="color: orange;">Anxiety</h1></h1>
 <div>
    <a href="https://www.youtube.com/watch?v=IAODG6KaNBc ">short video provides immediate calm-down techniques</a>
 </div>
 <div>
    <a href="https://www.youtube.com/watch?v=Et8j1LK0GU0">15 minute guided meditation and walk through with voiceover</a>
 </div>
 <div>
    <a href="https://www.youtube.com/watch?v=30VMIEmA114">informative video explaining useful methods to calm anxiety</a>
 </div>
 <h1>Based on your favorites, we recommend</h1>
Listen to: {{ user[0]["songs"]}}
<br>
Watch: {{ user[0]["films"] }}
<br>
Or doing any of your favorite activities: {{ user[0]["activities"] }}

<h1>Contact</h1>
{{ contact[0]["name1"] }} {{ contact[0]["number1"] }}
<br>
{{ contact[0]["name2"] }} {{ contact[0]["number2"] }}
<br>
{{ contact[0]["name3"] }} {{ contact[0]["number3"] }}
{% endblock %}