{% extends "layout.html" %}

{% block title %}
    Anxious
{% endblock %}


{% block main %}
 <h1>Here's what I can help with for: <h1 style="color: orange;">Anxiety</h1></h1>
 <div>
    <a href="https://www.youtube.com/watch?v=IAODG6KaNBc ">short video provides immediate calm-down techniques</a>
 </div>
 <div>
    <a href="https://www.youtube.com/watch?v=Et8j1LK0GU0">15 minute guided meditation and walk through with voiceover</a>
 </div>
 <div>
    <a href="https://www.youtube.com/watch?v=30VMIEmA114">informative video explaining useful methods to calm anxiety</a>
 </div>
{% endblock %}