{% extends "layout.html" %}

{% block title %}
    Sad
{% endblock %}


{% block main %}
 <h1>Here's what I can help with for: <h1 style="color: blue;">Sad</h1></h1>
 <div>
    <a target = "_blank" href="https://www.youtube.com/watch?v=hBzP8MtJf04">Nature-themed voiceover video with motivational words</a>
 </div>
 <div>
    <a target = "_blank" href="https://www.youtube.com/watch?v=BloutcYWbJg">Buddhist monk reassures and gives words of comfort</a>
 </div>
 <div>
    <a target = "_blank" href="https://www.youtube.com/watch?v=CXRxrYBgUIo ">Cute animated video talks people through their feelings of sadness</a>
 </div>
 <h1>Based on your favorites, we recommend</h1>
Listen to: {{ user[0]["songs"]}}
<br>
Watch: {{ user[0]["films"] }}
<br>
Or doing any of your favorite activities: {{ user[0]["activities"] }}

<h1>Contact</h1>
{{ contact[0]["name1"] }} {{ contact[0]["number1"] }}
<br>
{{ contact[0]["name2"] }} {{ contact[0]["number2"] }}
<br>
{{ contact[0]["name3"] }} {{ contact[0]["number3"] }}
<br>
<h2 style="color: darkred;">IN EMERGENCIES, CONTACT 988</h2>
{% endblock %}