{% extends "layout.html" %}

{% block title %}
    Sad
{% endblock %}


{% block main %}
 <h1>Here's what I can help with for: <h1 style="color: blue;">Sad</h1></h1>
 <div>
    <a href="https://www.youtube.com/watch?v=hBzP8MtJf04">Nature-themed voiceover video with motivational words</a>
 </div>
 <div>
    <a href="https://www.youtube.com/watch?v=BloutcYWbJg">Buddhist monk reassures and gives words of comfort</a>
 </div>
 <div>
    <a href="https://www.youtube.com/watch?v=CXRxrYBgUIo ">Cute animated video talks people through their feelings of sadness</a>
 </div>
 
{% endblock %}