{% extends "layout.html" %}

{% block title %}
    Stress
{% endblock %}


{% block main %}
 <h1>Here's what I can help with for: <h1 style="color: darkred;">Stress</h1></h1>
 <div>
    <a href="https://www.youtube.com/watch?v=o18I23HCQtE">Cute video with soothing voice over provides useful information</a>
 </div>
 <div>
    <a href = "https://www.youtube.com/watch?v=fAjdI7J4Gvo">Energetic video lists many creative ways of de-stressing</a>
 </div>
 <div>
    <a href = "https://www.youtube.com/watch?v=4YVOD6XId04">Reassuring video provides immediate words of relief</a>
 </div>
 
 
{% endblock %}